/* Title */
body {
    background-color: #d9d9d9;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Arvo', serif;
    font-size: 40px;
    font-size: max(2rem, 2rem + 0.5vw);
    margin: 50px 0;
}

h1:last-child {
    margin-bottom: 20px;
}

#title {
    background-color: #050A30;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 1% 7%;
    margin-bottom: 3%;
}

/* Headings */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h4,
h5 {
    font-family: 'Merriweather', serif;
    font-size: 19px;
    font-weight: bold;
    padding: 2%;
}

/* Paragraphs and list */
p,
li {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

li {
    text-align: left;
}

/* Nav-bar */
.nav-item {
    padding: 0 18px;
}

/* Pricing */
#pricing {
    padding: 3% 7%;
}

/* contact */

#contact {
    background-color: #050A30;
    color: white;
    padding: 3% 15%;
}


/* Footer */
.icon {
    padding: 4% 1%;
    color: black;
    font-size: 30px;
}

.footer {
    padding: 3% 17%;
}

/* First the Grid */
.gallery-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
}

/* The Picture Frame */
.gallery-frame {
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #050A30;
    color: #d9d9d9;
}

/* The Images */
.gallery-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
    opacity: .7;
}